
#results-container {
    margin: 20px;
    font-family: Helvetica;
    font-size: 30px;
    border: solid dodgerblue;
    overflow-y: scroll;
    height: 200px;
}

.result {
    margin: 20px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkred;
}